body {
    background-color:#232427;
    color: white;
}
.App{
    text-align: center;
}
.App-header{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:rgb(238, 238, 241);
} 
.Wrapper{
    background: rgb(252, 208, 208);
    padding: 10px;
}
.Input-Wrapper{
    display: flex;
    justify-content: space-between;
    width: 200px;

}
.Input-Wrepper input{
    border-radius: 4%;
    border: 0;
    width: 160px;
    padding: 6px;
    height: 20px;
}
.Inpit-Wrapper button{
    width: 20px;
    height: 20px;
    outline: none;
}